<div class="header">
  <div class="logo-container">
    <img src="assets/logo1.png" alt="App Logo" class="app-logo" />
    <a routerLink="/login" *ngIf="isLoggedIn() && !isLoginPage()" (click)="logout()" style="float: right;" class="menulink">Logout</a>
  </div>  
  <!-- <a routerLink="" class="menulink">Home</a>
  <a routerLink="/Registerbusiness" class="menulink">Employee</a> -->
  <a routerLink="/login" style="float: right;" class="menulink"></a>
  <!-- <a routerLink="/login" *ngIf="isLoggedIn() && !isLoginPage()" (click)="logout()" style="float: right;" class="menulink">Logout</a> -->
  <!-- <button *ngIf="isLoggedIn() && !isLoginPage()" (click)="logout()">Logout</button> -->
</div>

<router-outlet></router-outlet>